<%= form_with model: service do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% service.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :discription %><br>
    <%= form.text_area :discription %>
    <% service.errors.full_messages_for(:discription).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>