<h2>Services</h2>
<% @services.each do |service| %>
    <%= service.name %>
    <%= link_to "Show", service_path(service) %>
    <%= link_to "Edit", edit_service_path(service) %> 
    <%= link_to "Destroy", service_path(service),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <br/>
<% end %>

<%= link_to "New Service", new_service_path %>

<p> <%= link_to "Home", root_path %> </p>