<table>
    <tr>
        <th> Client </th>
    </tr>
    <% @clients.each do |client| %>
    <tr>
        <td> <%= client.full_name %> </td>
        <% if show_controls%>
            <td> <%= link_to "Show", client_path(client) %> </td>
            <td> <%= link_to "Edit", edit_client_path(client)%></td>
            <td> <%= link_to "Destroy", client_path(client),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td>
            <br/>
        <% end %>
    <%end%>
    </tr>
</table>