<br/>
<p> <%= link_to "Cars", cars_path %> </p>
<p> <%= link_to "Managers", managers_path %> </p>
<p> <%= link_to "Manufacturers", manufacturers_path %> </p>
<p> <%= link_to "Car Models", car_models_path %> </p>
<p> <%= link_to "Services", services_path %> </p>
<p> <%= link_to "Service Schedules", service_schedules_path %> </p>
