<table>
    <tr>
        <th> Manager </th>
        <th> Sales </th>
    </tr>
    <% @managers.each do |manager| %>
        <tr>
            <td> <%= manager[:full_name] %> </td>
            <td> <%= manager[:count] %> </td>
            <% if show_controls %>
                <td> <%= link_to "Show", manager_path(manager[:id]) %>
                <td> <%= link_to "Edit", edit_manager_path(manager[:id]) %> </td>
                <td> <%= link_to "Destroy", manager_path(manager[:id]),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td> 
                <br/>
            <% end %>
        </tr>
    <% end %>
</table>