<table>
    <tr>
        <th> Car </th>
        <th> Client </th>
        <th> Manager </th>
        <th> Purchase Date </th>
    </tr>
    <% @sales.each do |sale| %>
        <tr>
            <td> <%= sale.car.name %> </td>
            <td> <%= sale.client.full_name %> </td>
            <td> <%= sale.manager.full_name %> </td>
            <td> <%= sale.purchase_date.strftime("%d.%m.%Y") %> </td>
            <% if show_controls %>
                <td> <%= link_to "Show", sale_path(sale) %>
                <td> <%= link_to "Edit", edit_sale_path(sale) %> </td>
                <td> <%= link_to "Destroy", sale_path(sale),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td> 
                <br/>
            <% end %>
        </tr>
    <% end %>
</table>
    