<table>
    <tr>
        <th> Car Name </th>
        <th> Manager </th>
        <th> Services </th>
        <th> Date </th>
    </tr>
    <% @services_schedule.each do |service_schedule| %>
        <tr>
            <td> <%= service_schedule.car.name %> </td>
            <td> <%= service_schedule.manager.full_name %> </td>
            <td> <%= service_schedule.services.pluck(:name) %> </td>
            <td> <%= service_schedule.service_date %> </td>
            <% if show_controls %>
                <td> <%= link_to "Show", service_schedule_path(service_schedule) %>
                <td> <%= link_to "Edit", edit_service_schedule_path(service_schedule) %> </td>
                <td> <%= link_to "Destroy", service_schedule_path(service_schedule),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td> 
                <br/>
            <% end %>
        </tr>
    <% end %>
</table>