<h2>Last sales</h2>

<%= render "sales", sale: @sale, show_controls: false %>
<%= link_to "Show All Sales", sales_path %>

<h2>New cars</h2>

<%= render "cars", car: @car, show_controls: false %>
<%= link_to "Show All Cars", cars_path %>

<h2>Top managers</h2>

<%= render "managers", manager: @manager, show_controls: false %>
<%= link_to "Show All Managers", managers_path %>

<h2>Last clients</h2>

<%= render "clients", client: @client, show_controls: false %>
<%= link_to "Show All Clients", clients_path %>

<h2>Incoming Services Schedule</h2>

<%= render "services_schedule", service_schedule: @service_schedule, show_controls: false %>
<%= link_to "Show All Services Schedule", service_schedules_path %>

<%= render "links" %>
