<h2> Managers </h2>

<% @managers.each do |manager| %>
    <%= manager.id %>
    <%= manager.full_name %>
    <%= link_to "Show", manager_path(manager) %>
    <%= link_to "Edit", edit_manager_path(manager)%>
    <%= link_to "Destroy", manager_path(manager),
            method: :delete,
            data: { confirm: "Are you sure?" } %><br/>
<% end %>

<%= link_to "New Manager", new_manager_path %>

<p> <%= link_to "Home", root_path %> </p>