<%= form_with model: service_schedule do |form| %>
  <div>
    <%= form.label :car_id %>
    <%= form.collection_select :car_id, cars, :id, :name %> 
  </div>

  <div>
    <%= form.label :manager_id %>
    <%= form.collection_select :manager_id, managers, :id, :full_name %> 
  </div>

  <div>
    <%= form.label :service_name %> <br/>
    <%= form.collection_check_boxes :service_ids, services, :id, :name do |service| %>
      <%= service.check_box %>
      <%= service.label %> 
      <br/>
    <% end %>
  </div>

  <div>
    <%= form.label :service_date %>
    <%= form.date_field :service_date %> 
  </div>
<br/>
  
  <div>
    <%= form.submit %>
  </div>

<% end %>