<h2> Service Schedule </h2>
<% @service_schedules.each do |service_schedule| %>
    <%= service_schedule.car.name %>
    <%= service_schedule.manager.full_name%>
    <%= link_to "Show", service_schedule_path(service_schedule) %>
    <%= link_to "Edit", edit_service_schedule_path(service_schedule) %> 
    <%= link_to "Destroy", service_schedule_path(service_schedule),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <br/>
<% end %>

<%= link_to "New Service Schedule", new_service_schedule_path %>

<p> <%= link_to "Home", root_path %> </p>
