<h2> Service Schedule </h2>
    Car Name: <%= @service_schedule.car.name %><br/>
    Manager: <%= @service_schedule.manager.full_name %><br/>
    Services: <%= @service_schedule.services.pluck(:name) %><br/>
    Date: <%= @service_schedule.service_date%><br/>
<%= link_to "Back to list", service_schedules_path %>