<%= form_with model: car do |form| %>
  <div>
    <%= form.label :name_with_manufacturer %><br>
    <%= form.collection_select :car_model_id, car_models, :id, :name_with_manufacturer %>
    <% car.errors.full_messages_for(:car_model_id).each do |message| %>
      <div> <%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :colour %><br>
    <%= form.text_area :colour %>
    <% car.errors.full_messages_for(:colour).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
    <% car.errors.full_messages_for(:price).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= form.label :vin %><br>
    <%= form.text_area :vin %>
    <% car.errors.full_messages_for(:vin).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>