<h2>Cars</h2>
<% @cars.each do |car| %>
    <%= car.id %>
    <%= car.name %>
    <%= link_to "Show", car_path(car) %>
    <%= link_to "Edit", edit_car_path(car) %> 
    <%= link_to "Destroy", car_path(car),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <br/>
<% end %>

<%= link_to "New Car", new_car_path %>

<p> <%= link_to "Home", root_path %> </p>

