<h2>Car info</h2>

№: <%= @car.id %><br/>
Name: <%= @car.name %><br/>
Colour: <%= @car.colour %><br/>
Price: <%= @car.price %><br/>
Vin: <%= @car.vin %><br/>

<%= link_to "Back to list", cars_path %>

