<%= form_with model: sale do |form| %>
  <div>
    <%= form.label :name %> 
    <%= form.collection_select :car_id, cars, :id, :name %>
    <% sale.errors.full_messages_for(:car_id).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div> 

  <div>
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, clients, :id, :full_name %> 
  </div>

  <div>
    <%= form.label :manager_id %>
    <%= form.collection_select :manager_id, managers, :id, :full_name %>
  </div>

  <div>
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date %> 
  </div>

  <br/>
  
  <div>
    <%= form.submit %>
  </div>

<% end %>
