<h2>Sale info</h2>

Car: <%= @sale.car.name %><br/>
Client: <%= @sale.client.full_name %><br/>
Manager: <%= @sale.manager.full_name %><br/>
Purchase Date: <%= @sale.purchase_date %><br/>

<%= link_to "Back to list", sales_path %>