<%= form_with model: manufacturer do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% manufacturer.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>