<h2> Manufacturer </h2>
<% @manufacturers.each do |manufacturer| %>
    <%= manufacturer.id %>
    <%= manufacturer.name %> 
    <%= link_to "Show", manufacturer_path(manufacturer) %>
    <%= link_to "Edit", edit_manufacturer_path(manufacturer) %> 
    <%= link_to "Destroy", manufacturer_path(manufacturer),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <br/>
<% end %>

<%= link_to "New Manufacturer", new_manufacturer_path %>
<p> <%= link_to "Home", root_path %> </p>