<%= form_with model: car_model do |form| %>
  <div>
    <%= form.label :manufacturer_id %>
    <%= form.collection_select :manufacturer_id, manufacturers, :id, :name %> 
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% car_model.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br/>
  
  <div>
    <%= form.submit %>
  </div>

<% end %>