<h2> Car Models </h2>
<% @car_models.each do |car_model| %>
    <%= car_model.manufacturer.name %>
    <%= car_model.name%>
    <%= link_to "Show", car_model_path(car_model) %>
    <%= link_to "Edit", edit_car_model_path(car_model) %> 
    <%= link_to "Destroy", car_model_path(car_model),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <br/>
<% end %>

<%= link_to "New Car Model", new_car_model_path %>

<p> <%= link_to "Home", root_path %> </p>